.lmj-cart {
    padding: 32px;
    color: white;
    background-color: #31b572;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 300px;
}

.lmj-cart-list li{
	list-style-type: none;
	margin-left: -40px;
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: flex-end;
	padding: 0;
	color: white;
}

.lmj-cart-closed {
	padding: 32px;
	width: 300px;
}

.lmj-cart-closed > button {
	color: black;
}