.lmj-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
}

.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}

.lmj-plant-item-prix {
	position: relative;
	top: 50px;
	left: 200px;
	
	width: 30px;
	height: 30px;
	border-radius: 20px 20px 20px 0px;
	
	padding: 10px;
	color: white;
	background-color: #31b572;
	text-align: center;

}